@font-face {
  font-family: GrastedRosta;
  src: url(portfolio_font/GrastedRosta-z82Rw.otf);
}
@font-face {
  font-family: pphatton;
  src: url(portfolio_font/PPHatton.otf);
}
@font-face {
  font-family: akira;
  src: url(portfolio_font/Akira_Expanded_Demo.otf);
}
@font-face {
  font-family: caviar;
  src: url(portfolio_font/CaviarDreams.ttf);
}
body {
  margin: 0;
}

nav .bg1 {
  background-color: black;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  height: 700px;
}
nav .text .name {
  font-family: GrastedRosta;
  margin: 0;
  color: white;
  font-size: 40px;
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 228px;
  left: 563px;
  font-weight: 100;
}
nav .text .port {
  font-family: pphatton;
  margin: 0;
  color: white;
  font-size: 50px;
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 315px;
  left: 547px;
}
nav .text .date {
  font-family: caviar;
  margin: 0;
  color: white;
  font-size: 10px;
  z-index: 1;
  position: absolute;
  left: 520px;
  top: 435px;
  font-weight: 100;
}
nav .text .swirl {
  position: absolute;
  left: 473px;
  top: 185px;
  display: flex;
  height: 240px;
  opacity: 70%;
}

.head {
  margin-top: 640px;
  background-color: #222222;
  width: 100%;
  height: 30px;
}
.head a {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}
.head .move {
  padding-top: 5px;
  font-family: caviar;
}

.one {
  background-color: #dddddd;
  height: 700px;
  width: 100%;
}
.one .move1 {
  display: flex;
  position: absolute;
  padding-top: 180px;
  padding-left: 248px;
}
.one .box1 .pic {
  width: 220px;
  position: absolute;
  margin-left: 20px;
}
.one .box1 .pic2 {
  width: 220px;
  margin-top: 20px;
}
.one .box2 {
  background-color: black;
  width: 600px;
  height: 338px;
  margin-left: 30px;
}
.one .text1 {
  margin-left: 40px;
  margin-top: 15px;
  color: white;
  position: absolute;
}
.one .text1 .intro {
  margin-bottom: 0;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.one .text1 .intro_text {
  font-family: Arial, Helvetica, sans-serif;
}
.one .text1 .strip {
  margin-top: 0;
}
.one .text1 .button1 {
  padding-top: 55px;
}
.one .text1 .button1 .butt {
  width: 155px;
  height: 40px;
  border-radius: 20px;
  background-color: green;
  color: white;
  border: none;
}
.one .text22 {
  color: green;
  padding-left: 40px;
  font-size: 40px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.two {
  background-color: black;
  width: 100%;
  height: 700px;
}
.two .white {
  background-color: white;
  position: absolute;
  width: 40%;
  height: 700px;
  opacity: 35%;
}
.two .bg2 {
  width: 100%;
  height: 700px;
}
.two .bg_absolute {
  position: absolute;
}
.two .text2 {
  color: white;
  padding-top: 215px;
  padding-left: 85px;
  position: absolute;
  z-index: 5;
}
.two .text2 .works {
  font-size: 40px;
  margin-bottom: 13;
  font-family: akira;
}
.two .text2 .work_text {
  font-size: 15px;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.two .text2 .button2 {
  padding-top: 40px;
}
.two .text2 .button2 .butt {
  width: 155px;
  height: 40px;
  border-radius: 20px;
  background-color: green;
  color: white;
  border: none;
}
.two .art {
  z-index: 2;
  position: absolute;
  padding-left: 19px;
}
.two .art .art1 {
  width: 220px;
  padding-left: 700px;
  padding-top: 155;
  position: absolute;
}
.two .art .art2 {
  width: 220px;
  padding-left: 935px;
  padding-top: 155;
  position: absolute;
}
.two .art .art3 {
  width: 220px;
  padding-left: 700px;
  padding-top: 390px;
  position: absolute;
}
.two .art .art4 {
  width: 220px;
  padding-left: 935px;
  padding-top: 443px;
}

.three {
  background-color: #dddddd;
  width: 100%;
  height: 700px;
}
.three .text3 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 50px;
  padding-top: 75px;
  font-family: pphatton;
}
.three .photo1 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.three .photo1 .photo_out {
  width: 220px;
}
.three .photo1 .photo_size {
  width: 220px;
  padding-left: 25px;
}
.three .photo2 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.three .photo2 .photo_out {
  width: 220px;
}
.three .photo2 .photo_size {
  width: 220px;
  padding-left: 25px;
}

.four {
  background-color: black;
  width: 100%;
  height: 700px;
}
.four .bg2 {
  width: 100%;
  height: 700px;
}
.four .bg_absolute {
  position: absolute;
}
.four .text4 {
  color: white;
  font-size: 45px;
  padding-left: 150px;
  padding-top: 120px;
  position: absolute;
  font-family: akira;
}
.four .move_bar {
  font-family: Arial, Helvetica, sans-serif;
}
.four .move_bar .bar1 {
  padding-left: 150px;
  padding-top: 230px;
  position: absolute;
}
.four .move_bar .bar1 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar1 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar1 .green_bar {
  background-color: green;
  width: 280px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar2 {
  padding-left: 530px;
  padding-top: 230px;
  position: absolute;
}
.four .move_bar .bar2 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar2 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar2 .green_bar {
  background-color: green;
  width: 280px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar3 {
  padding-left: 905px;
  padding-top: 230px;
  position: absolute;
}
.four .move_bar .bar3 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar3 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar3 .green_bar {
  background-color: green;
  width: 230px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar4 {
  padding-left: 150px;
  padding-top: 330px;
  position: absolute;
}
.four .move_bar .bar4 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar4 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar4 .green_bar {
  background-color: green;
  width: 290px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar5 {
  padding-left: 530px;
  padding-top: 330px;
  position: absolute;
}
.four .move_bar .bar5 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar5 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar5 .green_bar {
  background-color: green;
  width: 240px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar6 {
  padding-left: 905px;
  padding-top: 330px;
  position: absolute;
}
.four .move_bar .bar6 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar6 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar6 .green_bar {
  background-color: green;
  width: 240px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar7 {
  padding-left: 150px;
  padding-top: 430px;
  position: absolute;
}
.four .move_bar .bar7 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar7 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar7 .green_bar {
  background-color: green;
  width: 280px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar8 {
  padding-left: 530px;
  padding-top: 430px;
  position: absolute;
}
.four .move_bar .bar8 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar8 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar8 .green_bar {
  background-color: green;
  width: 290px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .move_bar .bar9 {
  padding-left: 905px;
  padding-top: 430px;
  position: absolute;
}
.four .move_bar .bar9 .text_bar1 {
  color: white;
  padding-left: 7px;
  padding-bottom: 6px;
}
.four .move_bar .bar9 .white_bar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 6px;
}
.four .move_bar .bar9 .green_bar {
  background-color: green;
  width: 270px;
  height: 24px;
  border-radius: 6px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
}
.four .text42 {
  color: white;
  font-size: 23px;
  padding-left: 150px;
  padding-top: 580px;
  word-spacing: 13px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

.five {
  background-color: #dddddd;
  width: 100%;
  height: 180px;
}
.five .text5 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.five .text52 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.six {
  background-color: black;
  width: 100%;
  height: 700px;
  font-family: Arial, Helvetica, sans-serif;
}
.six .text6 {
  color: white;
  font-size: 55px;
  padding-top: 250px;
  padding-left: 170px;
  padding-bottom: 20px;
  margin: 0;
}
.six .text62 {
  font-size: 20px;
  color: white;
  padding-left: 170px;
  margin: 0;
}
.six .round_grid {
  width: 420px;
  position: absolute;
  position: absolute;
  padding-top: 44px;
}
.six .email {
  color: white;
  font-size: 20px;
  padding-left: 170px;
  margin: 0;
  padding-top: 60px;
  position: absolute;
}
.six .sosmed {
  position: absolute;
  z-index: 3;
}
.six .sosmed .sos1 {
  width: 40px;
  padding-left: 170px;
  padding-top: 180px;
}
.six .sosmed .sos2 {
  width: 40px;
  padding-left: 30px;
  padding-top: 180px;
}
.six .sosmed .sos3 {
  width: 40px;
  padding-left: 30px;
  padding-top: 180px;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #222222;
}

/*# sourceMappingURL=css1.css.map */
